<div class="container">
  <ng-container *ngIf="!conversations">
    <div class="row justify-content-md-center">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <p class="text-center"> Aún no tiene conversaciones</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngFor="let conversation of conversations; index as i">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <ngb-accordion [closeOthers]="true" activeIds="conversation{{i}}">
          <ngb-panel id="static-1" title="Conversación {{i+1}}">
            <ng-template ngbPanelContent>
              <div *ngFor="let message of conversation.messages">
                <p> {{message.text}}</p>
              </div>
              <ngb-rating [rate]="conversation.rating.starts">
              </ngb-rating>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </ng-container>
</div>
